@charset "UTF-8";

body{
  width: 100%;
}

h1{
  font-family: sans-serif;
  text-align: center;
  padding-top: 24vw;
  padding-bottom: 24vw;
}

/* リンクのデフォルトの色 */
a {
    color: black;
    text-decoration: none; /* 下線を消す */
}

/* 訪問済みリンクの色 */
a:visited {
    color: black;
}

/* ホバー時のリンクの色 */
a:hover {
    color: black;
}

/* アクティブ状態のリンクの色 */
a:active {
    color: black;
}

footer{
  background: #FFF;
  text-align: center;
  padding: 26px; 0;
  border-top: 1px solid #000;
}
footer p{
  color: #777;
  font-size: 0.875rem;
}
