@charset "UTF-8";

body{
  width: 100%;
}

h1{
  font-family: sans-serif;
  text-align: center;
  padding-top: 24vw;
  padding-bottom: 24vw;
}

footer{
  background: #FFF;
  text-align: center;
  padding: 26px; 0;
  border-top: 1px solid #000;
}
footer p{
  color: #777;
  font-size: 0.875rem;
}
