@charset "UTF-8";
.number{
  text-align: center;
  margin-top: -790px;
}
h1{
  font-size: 900px;
  font-family: 'Qwitcher Grypen', cursive;
}

.buttonarea {
  text-align: center;
  display: flex;
  justify-content: space-between;
  margin-top: -630px;
}
.buttonarea input{
  height: 20px;
  width: 65px;
}

html, body
{
 height: 100%;
 overflow: hidden
}
